body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
   
    
}
.contenedorprincipal{
        /*este es el contenedor padre y contenedor1 es el hijo*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        
        justify-content: center;
        align-items: center;
}


.contenedor1 {
    width: 350px;
    
    background: radial-gradient(rgb(255, 0, 255), rgb(75, 55, 255));
    border-radius: 10px;
    padding: 15px;
    margin: 0px;
    text-align: center;
    margin-top: 10px;
    transition: 1;

}
.contenedor_contra {
    display: inline;
}
.contenedor2 {
    display: none;
    transition: 1;
    width: 350px;
    height: 350px;  
    background: radial-gradient(rgb(255, 0, 255), rgb(75, 55, 255));
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    text-align: center;
    margin-top: 10px;

}

#error {
    color: rgb(0, 245, 0);
    display: none;
    margin: 10px;
    margin-bottom: 0;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: red;
    font-size: 20px;
}