body {
    background-color: rgb(48, 48, 48);
}

.padre {
    background-color: aqua;
    text-align: center;
    width: 150px;
    margin: 25px auto;
    padding: 20px;
}

.padre button {
    margin: 5px;
    border: none;
    border-radius: 10px;
}